.traffic-light {
  background-color: black;
  padding: 20px;
  width: 120px;
}

.light {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  border-radius: 50%;
  background-color: grey;
  transition: background-color 0.3s;
  cursor: pointer;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.glow {
  box-shadow: 0 0 30px 10px white;
}
